

.row {
    float: left;
    width: 100%;

    .col {
        float: left;

        $n: 12;

        @for $i from 1 through $n {
            $wid: (100%) * $i / $n;

            &.col-#{$i} {
                width: $wid;
            }
        }
    }
}

.clearfix::after {
  display: table;
  clear: both;
}

[class*="full-"] {
    
}

@media all and (max-width: 500px) {
    .full-500 {
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .col {
        width: 100% !important;
    }
}

@media all and (max-width: 750px) {
    .col-1, .col-11,
    .col-2, .col-10,
    .col-3, .col-9,
    .col-4, .col-8 {
        width: 100%;
    }

    .col-5,
    .col-7,
    .col-6 {
        width: 50%;
    }
}

@media all and (max-width: 1000px) {
    .col {
        width: 50%;
    }
}
